<a href="https://colab.research.google.com/github/cecordobat/MSc_Computer_Enginnering_DS/blob/main/S1_M2/Quiz_3_Pandas_Entendimiento_de_los_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src = "https://drive.google.com/uc?export=view&id=1ljiY7gV0TKs3nnTMPA5UBdED8KGzzZnX" alt = "Encabezado MLDS" width = "100%">  </img>

#**Quiz 3 : Entendimiento de los datos con *pandas***
---

Este es un quiz para practicar las habilidades adquiridas usando *pandas* en el proceso de exploración y entendimiento de conjuntos de datos. Utilizaremos el [dataset Titanic](https://www.kaggle.com/c/titanic) disponible en *Kaggle*.

El conjunto de datos del Titanic cuenta con múltiples variables de la tragedia:

| Variable | Definición	| Valores |
| --- | --- | --- |
| survival | 	Supervivencia  | 	0 = No, 1 = Sí |
| pclass 	| Clase del tiquete | 	1 = 1ra, 2 = 2da, 3 = 3ra
| sex 	| Sexo 	| |
| Age |	Edad en años 	| |
| sibsp |	# de hermanos / cónyuge abordo del Titanic 	| |
| parch |	# de padres / hijos abordo del Titanic 	| |
| ticket |	Número del ticket | |
| fare 	| Costo del ticket | |
| cabin |	Número de la cabina 	| |
| embarked |	Puerto de embarque |	C = Cherbourg, Q = Queenstown, S = Southampton |

En este quiz usted debe realizar un proceso de análisis exploratorio de datos con *Pandas* con el objetivo de practicar los conceptos y sus habilidades del entendimiento de los datos.

> **Nota:** Esta tarea va a ser calificada estableciendo una conexión con **[UNCode](https://juezun.github.io/)**. La conexión se realizará al ejecutar la celda indicada e ingresando los datos de usuariio.En cada ejercicio se indicará si es calificable o no, también los lugares donde debe escribir su código sin modificar lo demás con un aproximado de cantidad de líneas a escribir. No se preocupe si su código toma más líneas, esto es simplemente un aproximado destinado a que pueda replantear su estrategia si el código está tomando más de las esperadas. No es un requisito estricto y soluciones más largas también son válidas.

> **La tarea es incremental, es recomendable resolver los puntos en orden.**

> En caso de tener dudas de cómo solucionar este tipo de ejercicios, por favor consultar el demo en la unidad 0

Ejecute la siguiente celda para importar *pandas*.

In [1]:
# Importar pandas
import pandas as pd

In [2]:
#TEST_CELL
!python --version
print('Pandas', pd.__version__)

Python 3.10.12
Pandas 2.1.4

Este material fue realizado con las siguientes versiones:

- Python 3.10.12
- pandas 2.1.4

In [3]:
!pip install rlxcrypt
!wget --no-cache -O session.pye -q https://raw.githubusercontent.com/JuezUN/INGInious/master/external%20libs/session.pye

Collecting rlxcrypt
  Downloading rlxcrypt-0.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.9 kB)
Collecting imphook (from rlxcrypt)
  Downloading imphook-1.0.tar.gz (12 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cython in /usr/local/lib/python3.10/dist-packages (from rlxcrypt) (3.0.11)
Collecting pycryptodome (from rlxcrypt)
  Downloading pycryptodome-3.20.0-cp35-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.4 kB)
Requirement already satisfied: cryptography in /usr/local/lib/python3.10/dist-packages (from rlxcrypt) (43.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography->rlxcrypt) (1.17.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography->rlxcrypt) (2.22)
Downloading rlxcrypt-0.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (297 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.9/297.9 kB 6.5 MB/s eta 0:00:00
Downloading pycryptodome-3.20.0-cp35-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 41.3 MB/s eta 0:00:00
Building wheels for collected packages: imphook
  Building wheel for imphook (setup.py) ... done
  Created wheel for imphook: filename=imphook-1.0-py3-none-any.whl size=9421 sha256=4c915ca456efa94893cbd5117f8f34d64115b371846b6d8a8a8ff4d5cfa743af
  Stored in directory: /root/.cache/pip/wheels/dc/e2/a4/fcb3817d09a2eb047b2b08eb58e7d9140041b0f3f415eb1256
Successfully built imphook
Installing collected packages: imphook, pycryptodome, rlxcrypt
Successfully installed imphook-1.0 pycryptodome-3.20.0 rlxcrypt-0.0.4

In [4]:
import rlxcrypt
import session

grader = session.LoginSequence("AYVDDCP-GroupMLDS-1-2024-2@quiz_3")

Please enter your UNCode username: cecordobat
Please enter your password: ··········

## **0.  Leer el archivo de datos**
---
> **IMPORTANTE:**

  1. Por favor descargue el archivo con el conjunto de datos desde el siguiente enlace: **[titanic.csv](https://raw.githubusercontent.com/JuezUN/datasets/master/titanic.csv)**.
  
  2. En el enlace, haga clic derecho y seleccione la opción **"Guardar como..."**.

  3. Cargue este archivo en su sistema de archivos de **Google Colaboratory**. Para hacer esto:
    
    * Haga clic donde aparece el icono del directorio en la parte izquierda de la ventana en *Google Colaboratory* (resaltado en azul en la siguiente imagen con el número 1).
    * Después, haga clic en el icono **"Subir"** (resaltado en azul en la siguiente imagen con el número 2).
    * Seleccione el archivo **`titanic.csv`** que previamente descargó y haga clic en **"Aceptar"**.

<img src = "https://drive.google.com/uc?export=view&id=13W59jfdOpAn_DYIjpXt4WPBZiU7BlRGY" alt = "Sistema archivos colab" width = "70%">  </img>

4. Ejecute la siguiente celda para cargar el conjunto de datos dentro del DataFrame de *pandas* llamado **`df`**:

Tambien puedes ejecutar la siguiente celda

In [5]:
!wget https://raw.githubusercontent.com/JuezUN/datasets/master/titanic.csv

--2024-09-11 01:16:27--  https://raw.githubusercontent.com/JuezUN/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60301 (59K) [text/plain]
Saving to: ‘titanic.csv.1’

titanic.csv.1       100%[===================>]  58.89K  --.-KB/s    in 0.01s

2024-09-11 01:16:27 (4.41 MB/s) - ‘titanic.csv.1’ saved [60301/60301]

In [6]:
### EJECUTAR ESTA CELDA SIN MODIFICARLA. SI FALLA, DEBE SEGUIR EL PROCEDIMIENTO DESCRITO ANTES.
df = pd.read_csv('titanic.csv')

## **1. Tipos de variables**
---
Usted deberá identificar y explorar los diferentes tipos de variables (columnas) del conjunto de datos y guardar las respuestas solicitadas en las variables solicitadas en cada punto.

Utilice las siguientes celdas para explorar libremente el conjunto de datos utilizando *pandas*. Después, consigne sus respuestas en las preguntas que aparece más adelante.

In [10]:
#TEST_CELL
### ESCRIBA SU CÓDIGO AQUÍ ###
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
#TEST_CELL
### ESCRIBA SU CÓDIGO AQUÍ ###

In [ ]:
#TEST_CELL
## Si lo desea, puede agregar más celdas para entender el conjunto de datos.

### **1.1.  Variables con valores faltantes**
---

> **¿Qué variables tienen filas con valores faltantes?**

Llene la lista **`valores_faltantes`** con la respuesta correcta. El orden en que ponga los nombres de las variables no es importante.

La respuesta debería ser con un subconjunto de los nombres de las variables del conjunto de datos:

**`['PassengerId', 'Survived', 'Pclass',
       'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked']`**

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* En este ejercicio deberá llenar la lista de manera manual. Para esto, puede apoyarse en las funciones de exploración de los datos como **`.describe`** o **`.info`** para identificar las variables con valores faltantes.

* Considere el total de registros en el conjunto de datos y el total de registros con valores no-nulos por cada variable para encontrar las diferencias.

In [15]:
# VARIABLE CALIFICADA valores_faltantes:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
valores_faltantes = []
for i in df.columns:
  if df[i].isnull().sum() >0:
    valores_faltantes.append(i)

### FIN DEL CÓDIGO ###

In [18]:
valores_faltantes

['Age', 'Cabin', 'Embarked']

#### **Evaluar código**

In [21]:
grader.run_test("Test 1_1_1", globals())

Test 1_1_1

### **1.2.  Variables categóricas**
---

> **¿Qué variables tienen valores categóricos?**

Llene la lista **`categoricas`** con la respuesta correcta. El orden en que ponga los nombres de las variables no es importante.

La respuesta debería ser un subconjunto de todas las variables del conjunto de datos:

**`['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']`**

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* En este ejercicio deberá llenar la lista de manera manual. Para esto, puede apoyarse en las funciones de exploración de los datos para identificar las variables con valores categóricos. Por ejemplo: la columna **'Sex'** puede tener únicamente los valores **'female'** y **'male'**.

* Considere como valores categóricos aquellos que puedan representar características del pasajero o grupos a los que pertenezca.

* Aunque la variable sea cargada como un número, es posible que represente una variable categórica.

In [27]:
df.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [35]:
# VARIABLE CALIFICADA categoricas:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
categoricas = [ 'Embarked', 'Sex','Survived','Pclass']
### FIN DEL CÓDIGO ###

#### **Evaluar código**

In [36]:
grader.run_test("Test 1_2_1", globals())

Test 1_2_1

### **1.3.  Conteos de embarques**
---

> **¿Cuántos pasajeros embarcaron en cada uno de los puertos?**

Llene la lista **`embarcaron`** con la respuesta correcta. El orden en que ponga los números de pasajeros que embarcaron en cada uno de los puertos no es importante.

La respuesta debería debe tener 3 valores numéricos correspondientes al número de personas que embarcaron en:
* *Southampton* (S)
*  *Cherbourg* (C)
* *Queenstown* (Q)

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* En este ejercicio deberá llenar la lista de manera manual. Debe ayudarse para encontrar los resultados usando las funciones de explicación de datos. Recuerde que *pandas* proporciona una función que realiza los conteos de los datos categóricos almacenados en una variable.

* Recuerde que la columna **'Embarked'** almacena los datos acerca del puerto de embarque de los pasajeros.

In [44]:
conteos = df['Embarked'].value_counts()
conteos

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [42]:
# VARIABLE CALIFICADA embarcaron:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
embarcaron = []
conteos = df['Embarked'].value_counts()
embarcaron.extend(conteos)

### FIN DEL CÓDIGO ###

#### **Evaluar código**

In [43]:
grader.run_test("Test 1_3_1", globals())

Test 1_3_1

## **2. Supervivencia**
---
El conjunto de datos *Titanic* cuenta con la variable **`Survived`**. Esta indica quiénes sobrevivieron a la tragedia, representando a los sobrevivientes con valor igual a $1$ y las víctimas con el valor $0$.

Nos interesa saber qué variables influyeron más en la supervivencia de una persona.

* Por cada variable numérica encuentre el valor medio de aquellos que sobrevivieron.

* En el caso de la variable categórica **`Sex`**, encuentre los valores de la proporción de sobrevivientes para mujeres (*female*) y hombres (*male*).

### **2.1. Supervivencia en variables numéricas**
---

Encontrar el valor medio de todas las variables numéricas para aquellos que sobrevivieron.

Aunque es posible obtener el resultado en una sola línea de código, se recomienda primero calcular los promedios de las variables numéricas para ambos grupos de pasajeros: los que sobrevivieron y los que no, y posteriormente, seleccionar los promedios de los que sobrevivieron. Por lo anterior, este ejercicio se divide en dos partes.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Recuerde que puede conformar grupos a partir de variables o condiciones con el uso de la función **`groupby`** para después realizar operaciones de agregación como el promedio **`mean`** o la suma **`sum`**.
* Para este ejercicio deberá considerar las variables con valores numéricos, incluso si son interpretadas como variables categóricas. Indique su intención especificando `numeric_only=True` cuando corresponda.

Primero, encuentre los promedios de las variables numéricas para ambos grupos de pasajeros: sobrevivientes y no sobrevivientes.
> **Nota**: Tenga en cuenta que el tipo de dato que se solicita es un objeto ***Dataframe*** llamado **'promedios_por_grupo'**.

In [51]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [58]:
cols=df.select_dtypes(include=['number'])
agg_funcs = {col: 'mean' for col in cols.columns}

In [63]:
# VARIABLE CALIFICADA promedios_por_grupo:

### ESCRIBA SU CÓDIGO AQUÍ ### ~ 1 linea

promedios_por_grupo = df.groupby('Survived').agg(agg_funcs)

### FIN DEL CÓDIGO ###

In [64]:
#TEST_CELL
#CELDA DE PRUEBAS
promedios_por_grupo > 10

          PassengerId  Survived  Pclass   Age  SibSp  Parch  Fare
Survived
0                True     False   False  True  False  False  True
1                True     False   False  True  False  False  True

**Salida esperada:**

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Pclass</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Fare</th>
    </tr>
    <tr>
      <th>Survived</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>True</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>True</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
    </tr>
  </tbody>
</table>

Ahora debe seleccionar los promedios del grupo que sobrevivió. Por ejemplo, para aquellos que sobrevivieron el promedio de edad (variable **`Age`**) es aproximadamente **`28.343690`** años.

Al interpretar los resultados puede ignorar la variable **`PassengerId`** que, aunque es un valor numérico, es usada como identificador. En cambio, podría ser interesante comparar las diferencias en las tarifas (**`Fare`**) entre ambos grupos.

Deje los promedios obtenidos por variable en un objeto *Series* de *pandas* llamado **`supervivencia_numericas`**.


> **Nota:** Tenga presente que el tipo de dato que se solicita es un objeto ***Series***.

In [80]:
# VARIABLE CALIFICADA supervivencia_numericas:
supervivencia_numericas = promedios_por_grupo[promedios_por_grupo['Survived']==1].drop(columns='Survived').mean()
### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)

### FIN DEL CÓDIGO ###

In [81]:
#TEST_CELL
supervivencia_numericas.astype(int)

PassengerId    444
Pclass           1
Age             28
SibSp            0
Parch            0
Fare            48
dtype: int64

**Salida esperada:**
```python
PassengerId    444
Pclass           1
Age             28
SibSp            0
Parch            0
Fare            48
Name: 1, dtype: int64
```

#### **Evaluar código**

In [84]:
grader.run_test("Test 2_1_1", globals())

Test 2_1_1

In [83]:
grader.run_test("Test 2_1_2", globals())

Test 2_1_2

### **2.2. Supervivencia en variables categóricas**
---
Construya un objeto ***DataFrame*** de *pandas* llamado **`supervivencia_sexo`** que contenga el promedio de supervivencia en cada grupo de la variable **`Sex`**. Debe encontrar los valores de las proporciones de supervivientes para mujeres y hombres por separado. Por ejemplo, si hubieran $3$ mujeres sobrevivientes de un total de $4$ mujeres, y $2$ hombres sobrevivientes de un total de $4$ hombres; las proporciones correspondientes serían: **`female: 0.75`** y **`male: 0.5`**.

Puede utilizar la siguiente celda para encontrar los valores correspondientes y ponerlos en el ***DataFrame*** **`supervivencia_sexo`**.

> **Nota:** Tenga presente que el tipo de dato que se solicita es un ***DataFrame***.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Recuerde que puede conformar grupos a partir de variables o condiciones con el uso de la función **`groupby`** para después realizar operaciones de agregación como el promedio **`mean`** o la suma **`sum`**.
* La proporción de una variable de valores binarios ($0$ o $1$) puede ser obtenida a partir del promedio, suponiendo los valores en $1$ como las instancias que hacen parte de la proporción, y los que están en $0$ las que no.

In [102]:
# VARIABLE CALIFICADA supervivencia_sexo:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1-2 líneas de código)
supervivencia_sexo = df.groupby('Sex')['Survived'].mean().to_frame()
supervivencia_sexo

# Renombrar la columna para que sea más descriptiva
#supervivencia_sexo.rename(columns={'Survived': 'Proporción_Supervivientes'}, inplace=True)
### FIN DEL CÓDIGO ###

        Survived
Sex
female  0.742038
male    0.188908

In [103]:
#TEST_CELL
(supervivencia_sexo * 100).astype(int)

        Survived
Sex
female        74
male          18

**Salida esperada:**

```python
	    Survived
Sex
female  74
male    18
```

¿Cómo se pueden interpretar estos resultados? Por favor, siempre recuerde analizar e interpretar sus hallazgos.

#### **Evaluar código**

In [104]:
grader.run_test("Test 2_2_1", globals())

Test 2_2_1

## **Evaluación**
**¡Felicitaciones!** Ha terminado el quiz. ¡Buen trabajo!

In [105]:
grader.submit_task(globals())

Test 1_1_1
Test 1_2_1
Test 1_3_1
Test 2_1_1
Test 2_1_2
Test 2_2_1

## **Créditos**


* **Profesor:** [Felipe Restrepo Calle](https://dis.unal.edu.co/~ferestrepoca/)
* **Asistentes docentes:**
  - Alberto Nicolai Romero Martínez
  - Miguel Angel Ortiz Marín

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*