<a href="https://colab.research.google.com/github/cecordobat/MSc_Computer_Enginnering_DS/blob/main/S1_M2/Tarea_2_An%C3%A1lisis_de_datos_con_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src = "https://drive.google.com/uc?export=view&id=1ljiY7gV0TKs3nnTMPA5UBdED8KGzzZnX" alt = "Encabezado MLDS" width = "100%">  </img>

#**Tarea 2 - Análisis de datos con *Pandas***
---

Esta tarea le permitirá practicar las habilidades adquiridas usando la librería para el análisis y manipulación de datos *pandas*. Utilizaremos el [dataset de Salarios en San Francisco - SF](https://www.kaggle.com/kaggle/sf-salaries) de *Kaggle*.

El conjunto de datos de salarios de San Francisco cuenta con múltiples variables salariales de los empleados de la ciudad entre $2011$ y $2014$ :

| Variable | Definición	| Valores |
| --- | --- | --- |
| EmployeeName | 	Nombre del empleado  | 	 |
| JobTitle 	| Título del empleo | |
| BasePay 	| Salario base 	| |
| OvertimePay |	Salario por tiempo extra 	| |
| OtherPay |	Otros pagos salariales 	| |
| Benefits |	Beneficios (Costo de beneficios de salud y pensión) 	| |
| TotalPay |	Salario total del periodo	| |
| TotalPayBenefits |	Salario total más beneficios | |
| Year 	| Año | |
| Notes |	Información del registro	| No aplica |
| Agency |	Ciudad de la agencia de empleos |	'San Francisco' |
| Status |	Estado del registro |	No aplica |

> **Nota:** Esta tarea va a ser calificada estableciendo una conexión con **[UNCode](https://juezun.github.io/)**. La conexión se realizará al ejecutar la celda indicada e ingresando los datos de usuariio.En cada ejercicio se indicará si es calificable o no, también los lugares donde debe escribir su código sin modificar lo demás con un aproximado de cantidad de líneas a escribir. No se preocupe si su código toma más líneas, esto es simplemente un aproximado destinado a que pueda replantear su estrategia si el código está tomando más de las esperadas. No es un requisito estricto y soluciones más largas también son válidas.

> **La tarea es incremental, es recomendable resolver los puntos en orden.**

> En caso de tener dudas de cómo solucionar este tipo de ejercicios, por favor consultar el demo en la unidad 0

Ejecute la siguiente celda para importar *pandas*.

In [1]:
# Importar pandas
import pandas as pd

In [2]:
#TEST_CELL
!python --version
print('Pandas', pd.__version__)

Python 3.10.12
Pandas 2.1.4

Este material fue realizado con las siguientes versiones:

- Python 3.10.12
- pandas 2.1.4

Por favor complete las tareas que se detallan a continuación. El nivel de dificultad de las tareas es incremental.

In [3]:
!pip install rlxcrypt
!wget --no-cache -O session.pye -q https://raw.githubusercontent.com/JuezUN/INGInious/master/external%20libs/session.pye

Collecting rlxcrypt
  Downloading rlxcrypt-0.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.9 kB)
Collecting imphook (from rlxcrypt)
  Downloading imphook-1.0.tar.gz (12 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cython in /usr/local/lib/python3.10/dist-packages (from rlxcrypt) (3.0.11)
Collecting pycryptodome (from rlxcrypt)
  Downloading pycryptodome-3.20.0-cp35-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.4 kB)
Requirement already satisfied: cryptography in /usr/local/lib/python3.10/dist-packages (from rlxcrypt) (43.0.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography->rlxcrypt) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography->rlxcrypt) (2.22)
Downloading rlxcrypt-0.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (297 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.9/297.9 kB 9.6 MB/s eta 0:00:00
Downloading pycryptodome-3.20.0-cp35-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 48.7 MB/s eta 0:00:00
Building wheels for collected packages: imphook
  Building wheel for imphook (setup.py) ... done
  Created wheel for imphook: filename=imphook-1.0-py3-none-any.whl size=9421 sha256=5a27a0325eaaa4d5a3d182bf00aa41f3c6f2eaccee0bd6c00bb61bf4b52be8c1
  Stored in directory: /root/.cache/pip/wheels/dc/e2/a4/fcb3817d09a2eb047b2b08eb58e7d9140041b0f3f415eb1256
Successfully built imphook
Installing collected packages: imphook, pycryptodome, rlxcrypt
Successfully installed imphook-1.0 pycryptodome-3.20.0 rlxcrypt-0.0.4

In [4]:
import rlxcrypt
import session

grader = session.LoginSequence("AYVDDCP-GroupMLDS-1-2024-2@tarea_2")

Please enter your UNCode username: cecordobat
Please enter your password: ··········

## **0.  Leer el archivo de datos**
---
> **IMPORTANTE:**

  1. Por favor descargue el archivo con el conjunto de datos desde el siguiente enlace: **[salarios.csv](https://raw.githubusercontent.com/JuezUN/datasets/master/salarios.csv)**.
  2. En el enlace, haga clic derecho y seleccione la opción **"Guardar como..."**.

  3. Cargue este archivo en su sistema de archivos de **Google Colaboratory**. Para hacer esto:
    
    * Haga clic donde aparece el icono del directorio en la parte izquierda de la ventana en *Google Colaboratory* (resaltado en azul en la siguiente imagen con el número 1).
    * Después, haga clic en el icono **"Subir"** (resaltado en azul en la siguiente imagen con el número 2).
    * Seleccione el archivo **`salarios.csv`** que previamente descargó y haga clic en **"Aceptar"**.

  <img src = "https://drive.google.com/uc?export=view&id=13W59jfdOpAn_DYIjpXt4WPBZiU7BlRGY" alt = "Sistema archivos colab" width = "70%">  </img>

  4. Ejecute la siguiente celda para cargar el conjunto de datos dentro del DataFrame de *pandas* llamado **`sal`**:

In [5]:
!wget https://raw.githubusercontent.com/JuezUN/datasets/master/salarios.csv

--2024-09-12 03:18:31--  https://raw.githubusercontent.com/JuezUN/datasets/master/salarios.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16239776 (15M) [text/plain]
Saving to: ‘salarios.csv.1’

salarios.csv.1      100%[===================>]  15.49M  --.-KB/s    in 0.1s

2024-09-12 03:18:31 (129 MB/s) - ‘salarios.csv.1’ saved [16239776/16239776]

In [6]:
### EJECUTAR ESTA CELDA SIN MODIFICARLA. SI FALLA, DEBE SEGUIR EL PROCEDIMIENTO DESCRITO ANTES.
sal = pd.read_csv('salarios.csv')
## Tarda un poco en cargar, tenga paciencia.
## Puede ver el progreso de la carga en la parte inferior izquierda de la ventana.

> Haga una exploración de las variables con el método **`.info()`**. Asegúrese de tener $148654$ registros. **De lo contrario, es posible que haya ejecutado la celda anterior antes que terminara de cargar el archivo.** Si ese es el caso, deberá **ejecutarla nuevamente** cuando el archivo haya terminado de cargar.

In [7]:
sal.info() # 148654 registros

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Salida esperada:**
```python
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype  
---  ------            --------------   -----  
 0   Id                148654 non-null  int64  
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64  
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
```

- Muestre las primeras 5 filas del *DataFrame* para verificar que leyó los datos correctamente.

In [8]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

A continuación se le pedirá que realice varias acciones sobre el *DataFrame* **`sal`**. Por favor siga las instrucciones y no cambie el nombre de las variables o funciones dadas.

## **1. ¿Cuál es el salario base promedio?**
---
Guarde el resultado de esta pregunta en la variable **`salario_promedio`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>
<p>

* La columna que almacena los salarios base en este conjunto de datos es: **`BasePay`**.

In [9]:
## VARIABLE CALIFICADA: salario_promedio

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
salario_promedio = sal["BasePay"].mean()
### FIN DEL CÓDIGO ###
salario_promedio

66325.4488404877

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
6___5.4__84__0643
```

### **Evaluar código**

In [10]:
grader.run_test("Test 1_1", globals())

Test 1_1

## **2. ¿Cuál es la mayor cantidad pagada por horas extra?**
---
Guarde el resultado de esta pregunta en la variable **`maximo_pago`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La columna **`OvertimePay`** contiene los valores pagados por concepto de horas extra.
* Recuerde que los nombres de las columnas son susceptibles a mayúsculas y minúsculas. Es diferente **`OvertimePay`** a **`overtimepay`**.

In [11]:
## VARIABLE CALIFICADA: maximo_pago

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
maximo_pago = sal["OvertimePay"].max()
### FIN DEL CÓDIGO ###

maximo_pago

245131.88

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
24__31._8
```

### **Evaluar código**

In [12]:
grader.run_test("Test 2_1", globals())

Test 2_1

## **3. ¿Cuál es el cargo de "Lisa Murphy"?**
---

Guarde el resultado de esta pregunta en la variable **`cargo_lisa`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de "Lisa Murphy" en el *DataFrame* **`sal`**.
* Intente usar selección condicional para obtener el registro deseado. Además, debe quedarse únicamente con la columna del cargo (**`JobTitle`**).

In [13]:
## VARIABLE CALIFICADA: cargo_lisa

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargo_lisa = sal[sal["EmployeeName"] == "Lisa Murphy"]["JobTitle"]
### FIN DEL CÓDIGO ###

cargo_lisa

72161    Recreation Leader
Name: JobTitle, dtype: object

La salida de la celda anterior debería ser (no se muestran todos los caracteres):

```python
72___    Rec___tion _e_der
Name: JobTitle, dtype: object
```

### **Evaluar código**

In [14]:
grader.run_test("Test 3_1", globals())

Test 3_1

## **4. ¿Cuánto gana incluyendo beneficios "John Scott"?**
---

Guarde el resultado de esta pregunta en la variable **`ganancias_john`**.

> **Nota:** esto incluye también los beneficios (**`TotalPayBenefits`**).

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de John Scott en **`sal`**.
* Intente usar selección condicional y seleccionar solo la variable de interés.

In [15]:
## VARIABLE CALIFICADA: ganancias_john

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
ganancias_john = sal[sal["EmployeeName"] == "John Scott"]['TotalPayBenefits']
### FIN DEL CÓDIGO ###

ganancias_john

40234    178403.37
Name: TotalPayBenefits, dtype: float64

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
40__4    178__3.37
Name: TotalPayBenefits, dtype: float64
```

### **Evaluar código**

In [16]:
grader.run_test("Test 4_1", globals())

Test 4_1

## **5. ¿Cuál es el nombre de la persona que más gana?**
---
Guarde el resultado de esta pregunta en la variable **`max_pers_gana`**.

> **Nota:** considerando también los beneficios (**`TotalPayBenefits`**).

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de la persona en **`sal`**.
* Utilice indexado condicional en filas y selección de columnas para obtener la serie deseada.

In [17]:
## VARIABLE CALIFICADA: max_pers_gana

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
max_pers_gana = sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']
### FIN DEL CÓDIGO ###

max_pers_gana

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

La salida de la celda anterior debería ser (no se muestran todos los caracteres):
```python
_    NA_____EL __RD
Name: EmployeeName, dtype: object
```

### **Evaluar código**

In [18]:
grader.run_test("Test 5_1", globals())

Test 5_1

## **6. ¿Cuál es el cargo de la persona que menos gana?**
---

Guarde el resultado de esta pregunta en la variable **`min_cargo_gana`**.

> **Nota:** considerando también los beneficios (**`TotalPayBenefits`**).

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de la persona en **`sal`**.
* Utilice indexado condicional en filas y selección de columnas para obtener la serie deseada.

In [19]:
## VARIABLE CALIFICADA: min_pers_gana
### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
min_cargo_gana = sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['JobTitle']
### FIN DEL CÓDIGO ###
min_cargo_gana

148653    Counselor, Log Cabin Ranch
Name: JobTitle, dtype: object

La salida de la celda anterior debería ser (no se muestran todos los caracteres):
```python
14___3    Co____lor, Lo_ _abin Ra__h
Name: JobTitle, dtype: object
```

### **Evaluar código**

In [20]:
grader.run_test("Test 6_1", globals())

Test 6_1

## **7. ¿Cuál es el salario base promedio de todos los empleados por año?**
---

Guarde el resultado de esta pregunta en la variable **`sal_base_prom`**.

> **Nota:** El cálculo se realiza en los años $2011$ a $2014$, la salida tiene que ser de tipo **`pd.Series`** o **`pd.DataFrame`** y los índices deben corresponder al año.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo **`pd.Series`** o **`pd.DataFrame`** con el índice siendo el año y el valor promedio del año como contenido.
* Verifique el tipo de dato obtenido en cada acción. En muchos casos el objeto retornado tras realizar una operación es un objeto válido de *pandas* sobre el que se pueden hacer más operaciones.
* Cuando esté obteniendo el promedio, recuerde indicar que solo se use las columnas numéricas

In [21]:
## VARIABLE CALIFICADA: sal_base_prom
### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
sal_base_prom = sal.groupby('Year')['BasePay'].mean()
### FIN DEL CÓDIGO ###
sal_base_prom

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
Year
2011    63___.___517
2012    65___.___857
2013    69___.___216
2014    66___.___924
Name: BasePay, dtype: float64
```

### **Evaluar código**

In [22]:
grader.run_test("Test 7_1", globals())

Test 7_1

## **8. ¿Cuántos cargos únicos distintos existen?**
---

Guarde el resultado de esta pregunta en la variable **`cargos_unicos`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* No es necesario realizar el conteo con múltiples operaciones. Uno de los métodos presentados en la guía realiza esta tarea.

In [23]:
## VARIABLE CALIFICADA: cargos_unicos

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargos_unicos = sal['JobTitle'].drop_duplicates().size
### FIN DEL CÓDIGO ###

cargos_unicos

2159

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
2__9
```

### **Evaluar código**

In [24]:
grader.run_test("Test 8_1", globals())

Test 8_1

## **9. ¿Cuáles son los 5 cargos más comunes?**
---

Guarde el resultado de esta pregunta en la variable **`cargos_comunes`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debería contener un objeto *Series*, con el índice correspondiendo al nombre del cargo, y la frecuencia de dicho cargo en su valor.

In [25]:
## VARIABLE CALIFICADA: cargos_comunes

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargos_comunes =sal['JobTitle'].value_counts().head(5)
### FIN DEL CÓDIGO ###

cargos_comunes

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

La salida de la celda anterior debería ser (no se muestran todos los caracteres):
```python
Tr___it Op___tor                7__6
Sp___al Nu___                   4__9
Re___tered Nu___                3__6
Pu___c Svc Ai___Pu___c Wo___    2__8
Po___e Of___er 3                2__1
Name: JobTitle, dtype: int64
```

### **Evaluar código**

In [26]:
grader.run_test("Test 9_1", globals())

Test 9_1

## **10. ¿Cuántos cargos estaban ocupados solamente por una persona en 2013?**
---

Guarde el resultado de esta pregunta en la variable **`cargos_una_pers`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debería contener un número entero.
* Intente combinar métodos de entendimiento de datos con selección condicional.
* Puede usar la suma **`sum`** para contar el total de valores **`True`** en un arreglo de valores booleanos.

In [27]:
## VARIABLE CALIFICADA: cargos_una_pers

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargos_una_pers = sal['JobTitle'][sal['Year'] == 2013].value_counts()[sal['JobTitle'][sal['Year'] == 2013].value_counts() == 1].size
### FIN DEL CÓDIGO ###

cargos_una_pers

202

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
2_2
```

### **Evaluar código**

In [28]:
grader.run_test("Test 10_1", globals())

Test 10_1

## **11. ¿Cuántas personas tienen la palabra 'Chief' en su cargo?**
---

Guarde el resultado de esta pregunta en la variable **`total_chief`**.

**Nota:** Es probable que tenga que implementar una función adicional.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Puede definir una función para detectar la palabra **`'chief'`** y aplicarla en el *DataFrame*. Para esto puede necesitar funciones sobre [cadenas de texto](https://www.w3schools.com/python/python_ref_string.asp) de *Python*.
* Si se realiza una operación matemática como la suma en valores booleanos se cuentan como 0 (**`False`**) y 1 (**`True`**).

In [29]:
## VARIABLE CALIFICADA: total_chief

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 6 líneas de código)
def chief_string(title):
    # Implemente esta función: debe retornar True si la palabra "chief"
    # (sin importar mayúsculas o minúsculas) está dentro de la cadena dada "title".
    # De lo contrario, debe retornar False.
    return 'chief' in title.lower()

# Utilice la función anterior para cada uno de los elementos en la columna "JobTitle",
# y posteriormente, obtenga el número de valores en True. (NO MODIFIQUE EL DATAFRAME ORIGINAL)
bool_series = sal['JobTitle'].apply(chief_string)
# Contar cuántos valores son True (convertir a entero)
total_chief = int(bool_series.sum())
total_chief

627

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
6_7
```

### **Evaluar código**

In [30]:
grader.run_test("Test 11_1", globals())

Test 11_1

In [31]:
grader.run_test("Test 11_2", globals())

Test 11_2

## **12. ¿Cuáles son los 10 apellidos más comunes?**
---
Guarde el resultado de esta pregunta en la variable **`apellido_comun`**. Para simplificar las cosas, vamos a asumir que la última palabra en la cadena **`EmployeeName`** corresponde al apellido de la persona. Debe retornar los 10 apellidos más comunes escritos en **mayúsculas**, junto con sus frecuencias.

> **Nota:** Es probable que tenga que implementar una función adicional.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Puede usar la función **`apply`** para aplicar una función a cada uno de los elementos en una columna.
* Puede definir una función para separar el nombre completo y convertirlo en mayúscula para aplicarla luego sobre el *DataFrame*. Para esto puede necesitar funciones sobre [cadenas de texto](https://www.w3schools.com/python/python_ref_string.asp) de *Python*.
* Solo nos interesan dos variables, por lo que debería realizar una selección previa de las características.

In [32]:
## VARIABLE CALIFICADA: apellido_comun

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 6 líneas de código)
def apellido_mayuscula(name):
    # Implemente esta función: debe retornar la última palabra,
    # separando por espacio de la cadena "name" dada.
    nombre = name.split()
    return nombre[-1].upper()

# Utilice la función anterior para cada uno de los elementos en la columna "EmployeeName"
# y obtenga los 10 apellidos más comunes. (NO MODIFIQUE EL DATAFRAME ORIGINAL)
apellido_comun = sal['EmployeeName'].apply(apellido_mayuscula).value_counts().head(10)
### FIN DEL CÓDIGO ###

apellido_comun

EmployeeName
WONG        1859
JR          1835
LEE         1834
CHAN        1162
JOHNSON      771
WILLIAMS     705
SMITH        678
CHEN         608
JONES        591
NG           559
Name: count, dtype: int64

La salida de la celda anterior debería ser:
```python
W__G        1__9
J_          1__5
LE_         1__4
C__N        1__2
JO___ON      7_1
WI___AMS     7_5
SM__H        6_8
CH__         6_8
JO__S        5_1
N_           5_9
Name: EmployeeName, dtype: int64
```

### **Evaluar código**

In [33]:
grader.run_test("Test 12_1", globals())

Test 12_1

In [34]:
grader.run_test("Test 12_2", globals())

Test 12_2

## **Evaluación**
**¡Felicitaciones!** Esta tarea fue más retadora. ¡Muy buen trabajo!

In [35]:
grader.submit_task(globals())

Test 1_1
Test 2_1
Test 3_1
Test 4_1
Test 5_1
Test 6_1
Test 7_1
Test 8_1
Test 9_1
Test 10_1
Test 11_1
Test 11_2
Test 12_1
Test 12_2

## **Créditos**
---

* **Profesor:** [Felipe Restrepo Calle](https://dis.unal.edu.co/~ferestrepoca/)
* **Asistentes docentes:**
  - Cristian David González Carrillo
  - Alberto Nicolai Romero Martínez
  - Miguel Angel Ortiz Marín

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*